@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open sans', sans-serif;
    margin:0;
    padding:0;
    background-image:  radial-gradient(circle, rgba(248,249,232,0.5494572829131652) 0%, rgba(255,210,196,0.8295693277310925) 4%, rgba(255,228,196,0.7287289915966386) 80%);
    background-size: cover;
    background-position: center;

 }

.search {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open sans', sans-serif;

}

#searchbutton , #randomWord {
    border-radius:8px;
    border:none;
    outline:none;
    height:50px;
    width:50px;
    margin:2px;
    cursor: pointer; 
}


#searchbutton:active, #randomWord:active{
    position:relative;
    bottom:2px;
}

.search-text {
    text-align: center;
    font-weight: bolder;
    
}

.hidden {
    display:none;
}

input.search-bar {
    border:none;
    outline:none;
    color:black;
    background-color: rgb(247, 238, 238);
    font-size: 105%;
    width:500px;
    height:50px;
    margin:20px;
    padding:10px;
}

.container {
	position:relative;
	min-height: 100vh;
	

}



.container .image-container {
	display:flex;
	flex-wrap: wrap;
	gap:15px;
	justify-content: center;
	padding:10px;

}

.container .image-container .image {
	height:250px;
	width:350px;
	border:5px solid #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	overflow: hidden;
}

.container .image-container .image  img{
	height:100%;
	width:100%;
	object-fit: cover;
	transition: .2s linear;
}

.container .image-container .image:hover  img{
	transform: scale(1.1);
}

/* popup */

.container .popup-image{
	position:fixed;
	top:0; left:0;
	background-color: rgba(0,0,0,.9);
	height: 100%;
	width:100%;
	z-index: 100;
	display:none;
}

.container .popup-image span{
	position:absolute;
	top:0; right:10px;
	font-size:60px;
	font-weight:bolder;
	color:#fff;
	cursor:pointer;
	z-index: 100;
}

.container .popup-image img{
	position:absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	border:5px solid #fff;
	border-radius: 5px;
	width:750px;
	object-fit: cover;
}

@media (max-width:768px) {

.container {
    margin:0 auto;
}
	
.container .popup-image img{
	width:100%;

}

h2{
    font-size:20px;
}

.search {
    width:95%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}



input.search-bar {

height:30px;
width:200px;


}

#searchbutton , #randomWord {
    height:30px;
    width:50px;
    font-size:10px;
    margin:0px;
}


.container .popup-image img{
	width:95%;
}

}